In [7]:
#Heading
##this is for explaination adding numbers

In [1]:
3+5

8

In [2]:
x=4
y=7

x+y

11

In [3]:
#jhgegrf
##mu4tu5

In [8]:
import pandas as pd

In [10]:
data=pd.read_csv('D:\Om Data Science\Cars.csv')

In [11]:
data

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [13]:
x='Om'

print(x,2,3,4,4)

Om 2 3 4 4

In [14]:
print(type('om'))

<class 'str'>

In [15]:
print(type(1))

<class 'int'>

In [16]:
print(type(1.5))

<class 'float'>

In [18]:
#list
x=[54,88,'Om',1.5]

In [20]:
print(x[0])

54

In [22]:
print(x[3])

1.5

In [24]:
print(x[0:4])

[54, 88, 'Om', 1.5]

In [31]:
a=3
b=5

if a>b:
    print('greater')
    
elif b==a:
    print('equal')
    
else:
    print('b is greater')

b is greater

In [41]:
#loops
#For loop

#for i in range (0,9):
#    print(i)

for i in x:
    print(i)
    if i==54:break

54

In [39]:
y=0
while True:
    print('a')
    y=y+1
    if y==5:break

a
a
a
a
a

In [ ]:
#create a for loop to print

In [44]:
for i in range(1,45,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43

In [45]:
data

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]